//Montserrat font family
@font-face {
	font-family: 'Montserrat';
	src:    url('../fonts/montserrat/Montserrat-100.otf') format("opentype");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src:    url('../fonts/montserrat/Montserrat-300.otf') format("opentype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src:    url('../fonts/montserrat/Montserrat-400.otf') format("opentype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src:    url('../fonts/montserrat/Montserrat-500.otf') format("opentype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src:    url('../fonts/montserrat/Montserrat-700.otf') format("opentype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src:    url('../fonts/montserrat/Montserrat-900.otf') format("opentype");
	font-weight: 900;
	font-style: normal;
}

//Lato font family
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext';

//Font variables
$montserrat : 'Montserrat', sans-serif;
$lato : 'Lato', sans-serif;