<footer class="clearfix footer">
    <div>
        <b><span>MikołajskaSTUDIO</span></b>
        <div>
            <span>ul.Białoprądnicka 10/15</span>,
            <span>31-221 Kraków</span>,
        </div>
        <div>
            <span>ul.Nowogrodzka 50</span>,
            <span>00-695 Warszawa</span>,
        </div>
        Telefon: <span>+48 530 533 909</span>,
        E-mail: <span>kontakt@mikolajskastudio.pl</span>
    </div>



    Designed © 2016 by <b><a href="http://firmakontrainternet.pl" title="FirmaKontraInternet - jak zdobyć Klientów, pryszpieszyć firmę, strony internetowe">fki</a></b> All rights reserved.
</footer>
<script src="{{ paths.theme }}js/menu.js"></script>
</body>

</html>
