<footer class="clearfix footer-trans">
    <div id="footerNAP">
        <b><span>MIKOŁAJSKAstudio</span></b>
        <div class="inline">
            <span>ul.Białoprądnicka 10/15</span>,
            <span>31-221 Kraków</span>,
        </div>
        <div class="inline">          
            <span>00-695 Warszawa</span>,
        </div>
        Telefon: <span>+48 530 533 909</span>,
        E-mail: <span>kontakt@mikolajskastudio.pl</span>
    </div>
    <span id="credits-wrapper">Designed © 2016 by <b><a id="credits" href="http://firmakontrainternet.pl" title="FirmaKontraInternet - jak zdobyć Klientów, przyspieszyć firmę dzięki Internetowi, strony internetowe"> fki </a></b> All rights reserved.</span>
</footer>
<script src="{{ paths.theme }}js/menu.js"></script>
