.proj-big {
    background: $bg-color;
    height: 100vh;
    width: 100vw;
    right: 0;
    box-sizing: padding-box;
    @include transition(0.5s,ease-in);
    &.toggled{padding-left: 420px;}
    .proj-desc {
        background: $white;
        display: flex;
        position: fixed;
        width: 420px;
        top: 0;
        left: -420px;
        align-items: center;
        height: 100vh;
        @include transition(0.5s, ease-in);
        z-index: 160;
        .desc-icon{
            position: absolute;
            top: 80px;
            right: -55px;
            width: 35px;
            height: 35px;
            z-index: 30;
            background-image: url('../images/icons/description.png');
            background-size: contain;
            &:hover{
                cursor: pointer;
            }
        }
        .desc {
            padding: 0px 30px 0px 30px;
            font-size: 0.9em;
            width: 100%;
            h2{
                margin-bottom: 60px;
                position: relative;
            }
            p {
                margin: 0;
                margin-bottom: 20px;
                position: relative;
                font-size: 1.1em;
                letter-spacing: 0.1em;
                img{
                    width: 120px !important;
                    height: auto !important;
                    float: left;
                    margin-right: 15px;
                    margin-bottom: 15px;
                    border: 1px solid #555;
                }
            }
            h2:before {
                content: "";
                position: absolute;
                border-bottom: 1px solid $gray;
                width: 25%;
                bottom: -30px;
                left: 0;
            }
            .duplicate-content{
                position: relative;
                display: block;
                margin: 0 auto;
                width: 220px;
                *{width: 100%;}
                span#duplicate-instr{
                    font-size: 12px;
                    line-height: 16px;
                    text-align: justify;
                    color: #999;
                    margin-bottom: 10px;
                }
                input[name="passconfirm"]{
                    position: relative;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    height: 45px;
                    line-height: 45px;
                    background: none;
                    border: none;
                    border: 0.5px solid #000;
                    color: #444;
                }
                input[type="submit"]{
                    min-height: 45px;
                    border: none;
                    @include border-radius(10px);
                    padding: 15px 20px;
                    line-height: 15px;
                    font-size: 10px;
                    font-weight: bolder;
                    background-color: #3c3;
                    color: $white;
                    text-align: center;
                    &:hover{
                        background-color: darken(#3c3,10%);
                    }
                }
            }
                }
        &.toggled{
            left: 0;
        }
        }

    @import "../modules/projectslider";
}